[submodule "mcp-security"]
	path = mcp-security
	url = https://github.com/google/mcp-security.git
[submodule "SuperClaude_Framework"]
	path = SuperClaude_Framework
	url = https://github.com/SuperClaude-Org/SuperClaude_Framework.git
